@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/colors' as *;
@import '@/styles/abstracts/variables.module';
@import '@/styles/abstracts/extends.module';

.featurePostContainer {
  position: relative;

  .postImage {
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      object-fit: cover;
    }

    &::after {
      content: '';
      background-color: $color-dark-gray;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: $opacity-sm;
    }
  }

  .featuredPost {
    @include flex-with-options(column, $spacing-md, flex-start, flex-start);
    padding: $spacing-2xl $spacing-sm;
    @extend .containerMd;
    position: relative;

    color: $color-white;

    .category {
      font-weight: 400;
      text-transform: uppercase;

      .categoryName {
        font-weight: bold;
      }
    }

    .postInfo {
      @include flex-with-options(row, $spacing-xs, center, center);
      text-align: center;

      a {
        color: $color-dark-yellow;

        &:hover {
          color: $color-white;
        }
      }
    }
  }
}
