$color-dark-blue: #232536;
$color-yellow: #ffd050;
$color-dark-yellow: #edc14a;
$color-purple: #592ea9;
$color-dark-gray: #2e303f;
$color-gray: #6d6e76;
$color-light-gray: #afafaf;
$color-white: #ffffff;
$color-dark-white: #f4f0f8;
$color-red: #d22b2b;
$color-green: #357960;
