@import './variables.module.scss';

%button {
  border: unset;
  font-family: var(--font-sen);
  cursor: pointer;
  padding: $spacing-sm $spacing-lg;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

%baseContainer {
  margin: 0 auto;
  padding: $spacing-sm;
}

.containerLg {
  @extend %baseContainer;
  max-width: 1440px;
}

.containerMd {
  @extend %baseContainer;
  max-width: 768px;
}

.body1,
.body2,
.label {
  font-weight: normal;
}

.body1 {
  font-size: 16px;
  line-height: 28px;
}

.body2 {
  font-size: 16px;
  line-height: 20px;
}

.label {
  font-size: 14px;
  line-height: 20px;
}
