@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;
@import '@/styles/abstracts/extends.module';

.primary,
.secondary {
  @extend %button;
  position: relative;

  &.isLoading {
    font-size: 0;

    @include spinner($color-dark-blue);
  }

  &.isDisabled,
  &.isLoading {
    opacity: $opacity-sm;
    pointer-events: none;
  }
}

.primary,
.secondary {
  transition: $transition-sm;

  &:hover {
    transition: $transition-sm;
  }
}

.primary {
  background-color: $color-yellow;

  &:hover {
    background-color: $color-dark-yellow;
  }
}

.secondary {
  background-color: $color-white;

  &:hover {
    opacity: $opacity-sm;
  }
}
