@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/extends' as *;

.primary {
  @extend %button;
  background-color: $color-yellow;

  &:hover {
    background-color: $color-dark-yellow;
  }
}

.secondary {
  @extend %button;
  background-color: $color-white;

  &:hover {
    opacity: 0.8;
  }
}
