@use '@/styles/abstracts/colors' as *;
@import '@/styles/abstracts/extends.module';

.primary,
.secondary {
  @extend %button;
  position: relative;

  &.isLoading {
    font-size: 0;
  }

  &.isDisabled,
  &.isLoading {
    opacity: 0.6;
    pointer-events: none;
  }

  &.isLoading::after {
    content: '';
    position: absolute;
    width: #{$icon-size}px;
    height: #{$icon-size}px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: $color-dark-blue;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;

    @keyframes button-loading-spinner {
      from {
        transform: rotate(0turn);
      }

      to {
        transform: rotate(1turn);
      }
    }
  }
}

.primary {
  background-color: $color-yellow;

  &:hover {
    background-color: $color-dark-yellow;
  }
}

.secondary {
  background-color: $color-white;

  &:hover {
    opacity: 0.8;
  }
}
