@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;
@import '@/styles/abstracts/variables.module';

.contactInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $spacing-lg;

  padding: $spacing-lg $spacing-xl;
  background-color: $color-purple;
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
  color: $color-white;

  @include mobile-breakpoint {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: $spacing-lg;
  }

  p {
    opacity: 0.6;
  }

  .contactSection {
    :first-child {
      border-bottom: 1px solid $color-white;
      margin-bottom: $spacing-sm;
      padding-bottom: $spacing-sm;
    }
  }

  @include mobile-breakpoint {
    padding: $spacing-sm $spacing-md;
  }
}
