@use '@/styles/abstracts/mixins' as *;
@import '@/styles/abstracts/extends.module';

.listOfCardsContainer {
  @include flex-with-options(column, $spacing-md, center, center);
  @extend .containerMd;

  .start {
    align-self: flex-start;
  }

  .center {
    align-self: center;
  }

  .end {
    align-self: flex-end;
  }

  .listContainer {
    @include flex-with-options(row, $spacing-md);

    @include tablet-breakpoint(md) {
      flex-direction: column;
    }
  }
}
