@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;
@import '@/styles/abstracts/variables.module';

.relativeAlert {
  @include flex-with-options(row, $spacing-md, flex-start, center);

  color: white;
  padding: $spacing-xs;
  visibility: hidden;
  min-width: $spacing-lg;
  min-height: $spacing-lg;

  &.isSuccess,
  &.isError {
    visibility: visible;
  }

  &.isSuccess {
    background-color: $color-green;
  }

  &.isError {
    background-color: $color-red;
  }
}
