@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/colors' as *;
@import '@/styles/abstracts/variables.module';
@import '@/styles/abstracts/extends.module';

.aboutsUsMissionContainer {
  @extend .sectionContainer;
  margin-top: 0;
  padding: $spacing-lg;
  padding-top: $spacing-xl;
  background-color: $color-light-pink;
  @include flex-with-options(row, $spacing-lg, space-between);

  @include tablet-breakpoint(md) {
    flex-direction: column;
    padding: 0 $spacing-sm;
    padding-top: $spacing-xl;
  }

  .aboutsUsArticle {
    @include flex-with-options(column, $spacing-sm);
    flex: 1;

    .aboutsUsArticleLabel {
      @extend .body2Uppercase;
    }

    .aboutsUsArticleContent {
      @extend .body1Gray;
    }
  }
}
