@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;
@import '@/styles/abstracts/extends.module';
@import '@/styles/abstracts/variables.module';

.nav {
  @include flex-with-options(row, $spacing-md, space-between, center);
  @extend .body1;

  padding: $spacing-sm 0;

  .link {
    &.active {
      color: $color-light-gray;
    }

    &:hover {
      color: $color-light-gray;
    }
  }
}
